<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>learningAcademy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addStudentDetails</display-name>
    <servlet-name>addStudentDetails</servlet-name>
    <servlet-class>com.learningAcademy.hibernate.addStudentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStudentDetails</servlet-name>
    <url-pattern>/addStudentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addTeacherDetails</display-name>
    <servlet-name>addTeacherDetails</servlet-name>
    <servlet-class>com.learningAcademy.hibernate.addTeacherDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addTeacherDetails</servlet-name>
    <url-pattern>/addTeacherDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addSubjectDetails</display-name>
    <servlet-name>addSubjectDetails</servlet-name>
    <servlet-class>com.learningAcademy.hibernate.addSubjectDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addSubjectDetails</servlet-name>
    <url-pattern>/addSubjectDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addClassDetails</display-name>
    <servlet-name>addClassDetails</servlet-name>
    <servlet-class>com.learningAcademy.hibernate.addClassDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addClassDetails</servlet-name>
    <url-pattern>/addClassDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewClassDetails</display-name>
    <servlet-name>viewClassDetails</servlet-name>
    <servlet-class>com.learningAcademy.hibernate.viewClassDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewClassDetails</servlet-name>
    <url-pattern>/viewClassDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewStudentDetails</display-name>
    <servlet-name>viewStudentDetails</servlet-name>
    <servlet-class>com.learningAcademy.Hibernate.viewStudentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewStudentDetails</servlet-name>
    <url-pattern>/viewStudentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewStudentDetail</display-name>
    <servlet-name>viewStudentDetail</servlet-name>
    <servlet-class>com.learningAcademy.hibernate.viewStudentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewStudentDetail</servlet-name>
    <url-pattern>/viewStudentDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewTeacherDetails</display-name>
    <servlet-name>viewTeacherDetails</servlet-name>
    <servlet-class>com.learningAcademy.hibernate.viewTeacherDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewTeacherDetails</servlet-name>
    <url-pattern>/viewTeacherDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewSubjectDetails</display-name>
    <servlet-name>viewSubjectDetails</servlet-name>
    <servlet-class>com.learningAcademy.hibernate.viewSubjectDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewSubjectDetails</servlet-name>
    <url-pattern>/viewSubjectDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateTeacherInClass</display-name>
    <servlet-name>updateTeacherInClass</servlet-name>
    <servlet-class>com.learningAcademy.hibernate.updateTeacherInClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateTeacherInClass</servlet-name>
    <url-pattern>/updateTeacherInClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateClassInStudent</display-name>
    <servlet-name>updateClassInStudent</servlet-name>
    <servlet-class>com.learningAcademy.hibernate.updateClassInStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateClassInStudent</servlet-name>
    <url-pattern>/updateClassInStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateSubjectInTeacher</display-name>
    <servlet-name>updateSubjectInTeacher</servlet-name>
    <servlet-class>com.learningAcademy.hibernate.updateSubjectInTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateSubjectInTeacher</servlet-name>
    <url-pattern>/updateSubjectInTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewSubjectTeacher</display-name>
    <servlet-name>viewSubjectTeacher</servlet-name>
    <servlet-class>com.learningAcademy.hibernate.viewSubjectTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewSubjectTeacher</servlet-name>
    <url-pattern>/viewSubjectTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewStudentClass</display-name>
    <servlet-name>viewStudentClass</servlet-name>
    <servlet-class>com.learningAcademy.hibernate.viewStudentClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewStudentClass</servlet-name>
    <url-pattern>/viewStudentClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewTeacherClass</display-name>
    <servlet-name>viewTeacherClass</servlet-name>
    <servlet-class>com.learningAcademy.hibernate.viewTeacherClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewTeacherClass</servlet-name>
    <url-pattern>/viewTeacherClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>classsReport</display-name>
    <servlet-name>classsReport</servlet-name>
    <servlet-class>com.learningAcademy.hibernate.classsReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>classsReport</servlet-name>
    <url-pattern>/classsReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>classReport</display-name>
    <servlet-name>classReport</servlet-name>
    <servlet-class>com.learningAcademy.hibernate.classReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>classReport</servlet-name>
    <url-pattern>/classReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginpage</display-name>
    <servlet-name>loginpage</servlet-name>
    <servlet-class>com.learningAcademy.hibernate.loginpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginpage</servlet-name>
    <url-pattern>/loginpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createAccountDetails</display-name>
    <servlet-name>createAccountDetails</servlet-name>
    <servlet-class>com.learningAcademy.hibernate.createAccountDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createAccountDetails</servlet-name>
    <url-pattern>/createAccountDetails</url-pattern>
  </servlet-mapping>
</web-app>