<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Phase2Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTeacherController</display-name>
    <servlet-name>AddTeacherController</servlet-name>
    <servlet-class>com.controller.AddTeacherController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacherController</servlet-name>
    <url-pattern>/AddTeacherController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentController</display-name>
    <servlet-name>AddStudentController</servlet-name>
    <servlet-class>com.controller.AddStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentController</servlet-name>
    <url-pattern>/AddStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddClassController</display-name>
    <servlet-name>AddClassController</servlet-name>
    <servlet-class>com.controller.AddClassController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClassController</servlet-name>
    <url-pattern>/AddClassController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSubjectController</display-name>
    <servlet-name>AddSubjectController</servlet-name>
    <servlet-class>com.controller.AddSubjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubjectController</servlet-name>
    <url-pattern>/AddSubjectController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTeacherDetails</display-name>
    <servlet-name>ViewTeacherDetails</servlet-name>
    <servlet-class>com.controller.ViewTeacherDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTeacherDetails</servlet-name>
    <url-pattern>/ViewTeacherDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewStudentDetails</display-name>
    <servlet-name>ViewStudentDetails</servlet-name>
    <servlet-class>com.controller.ViewStudentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewStudentDetails</servlet-name>
    <url-pattern>/ViewStudentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewClassDetails</display-name>
    <servlet-name>ViewClassDetails</servlet-name>
    <servlet-class>com.controller.ViewClassDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewClassDetails</servlet-name>
    <url-pattern>/ViewClassDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSubjectDetails</display-name>
    <servlet-name>ViewSubjectDetails</servlet-name>
    <servlet-class>com.controller.ViewSubjectDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSubjectDetails</servlet-name>
    <url-pattern>/ViewSubjectDetails</url-pattern>
  </servlet-mapping>
</web-app>